<%- include('../header') %>
<h3>Edit Student - <%= student.id %></h3>
<hr>
<form action="/update/<%= student.id %>" method="post">
    <label for="">Student Name</label>
    <input type="text" class="form-control my-2" name="name" value="<%= student.name %>">
    <label for="">Father Name</label>
    <input type="text" class="form-control my-2" name="father" value="<%= student.father %>">
    <label for="">Mother Name</label>
    <input type="text" class="form-control my-2" name="mother" value="<%= student.mother %>">
    <div class="d-flex align-items-center mt-4">
        <input type="submit" value="Update" class="btn btn-warning me-3">
        <a href="/" class="btn btn-danger"><i class="bi bi-arrow-left"></i>Go Back</a>
    </div>
</form>
<%- include('../footer') %>
